@import url("https://fonts.googleapis.com/css?family=Asap|Muli|Raleway|Ubuntu&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Asap", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-logo {
  align-items: center;
  margin-top: 10px;
}

.nav-main {
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
  /* display: flex;
 align-items: flex-end; */
  position: relative;
}

#nav_mobile {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
}

/* #nav_mobile .link:hover,
#nav_mobile .link:active {
  background: #000000c7;
} */


/* #nav_mobile.is-active {
  transform: translateX(0);
  transition: transform .3s ease-out;
} */

.nav-main a {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-end {
  align-items: center;
  margin-left: auto;
  display: flex;
}

.nav-end2 {
  margin-left: 1000px;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
}

.all-list {
  list-style: none;
  display: flex;
  align-items: center;
}

/* .search {
  border-radius: 20px;
  border-color: lightgray 0.5px;
} */
.first-view {
  margin: top 170px;
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 20px;
}

.firstView {
  background-image: url("https://res.cloudinary.com/dfnnpxhx9/image/upload/v1575532226/MEG/fashion-1031469_1920_ybijwc.jpg");
  background-size: cover;
  height: 90vh;
}

.intro {
  background-size: cover;
  height: 90vh;
}
h1 h2 h3 h4 {
  font-family: "Ubuntu", sans-serif;
}

.MEG {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(238, 175, 15);
}

.lookbook {
  padding-top: 150px;
}

.soustitre {
  text-align: right;
  color: black;
  font-weight: lighter;
  font-size: 40px;
  padding-right: 140px;
  padding-top: 270px;
}

h2 {
  text-align: center;
}
h6 {
  font-size: large;
}
#informations {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 10%;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px 2px rgba(58, 58, 58, 0.4);
  overflow: hidden;
}

.infoImg {
  max-width: 100%;
  height: 265px;
  overflow: hidden;
}

.infoImg img {
  width: 100%;
}

.informations p {
  height: 155px;
}
.small-info {
  align-items: end;
  justify-content: center;
  padding: 14px 14px 0px 14px;
}
.transition {
  margin: 20px;
}
.footer {
  margin: 20px;
  text-align: center;
}

#infos-footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.last-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
