.list-menu {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.item-menu {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid white;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 300px;
}

.dropdown {
  text-align: left;
  background-color: white;
  width: 300px;
  height: auto;
  margin-left: 20px;
  z-index: 1;
  position: absolute;
  border: 1px solid rgb(238, 175, 15);
}
.deroulant {
  list-style-type: none;
  font-size: 20px;
}

.dropdown .button {
  background-color: rgb(238, 175, 15) !important;
  transition: transform 350ms ease-in-out;
}

.dropdown a {
  border-bottom: 1px solid rgb(238, 175, 15);
  margin: 0;
  padding: 2px;
}
