.background {
    background-color: #FEE;
}

.all-vetements {
    margin: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.title-vetements {
    background-color: #CA907E;
    padding-left: 0;
}

.list-vetements {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #455153;
    margin: 20px;
padding: 20px;
}


.item-vetement {
    padding: 10px;
}

/* .cases {
    margin: 10px;
} */

.item-vetement-image {
height: 150px;
}